<html>
    <head>
        <title>Donyu's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <br/>
            <p>published: 05.01.2020, 16:12</p>
            <h2><a href="">My first post</a></h2>
            <p>I love studying html :)</p>
        </div>

        <div>
            <br/>
            <p>published: 05.01.2020, 16:13</p>
            <h2><a href="">My Second Post</a> </h2>
            <p>Happy New Year</p>
        </div>
    </body>
</html>